body {
	font-family: sans-serif;
}
.top-bar {
	text-align: center;
	position: fixed;
	top: 0;
	width: 100%;
	background: #333;
}
.top {
	color: white;
}
.messages {
	margin-top: 170px;
	margin-bottom: 27px;
}
.holder {
	width: 100%;
}
.sent {
	width: 100%;
	text-align: right;
}
.send {
	margin-top: 10px;
	text-align: center;
	width: 100%;
	height: 25px;
	position: fixed;
	bottom: 0;
	background: #333;
}
#sender {
	width: 95%;
}
#time {
	width: 100%;
	text-align: center;
}