body {
	font-family: sans-serif;
	width: 98%;
}
.top-bar {
	text-align: center;
	position: fixed;
	top: 0;
	width: 100%;
	background: #333;
}
.top {
	color: white;
}
.divider {
	height: 50px;
}
#messages {
	margin-top: 170px;
	margin-bottom: 50px !important;
}
.sent {
	width: 100%;
	text-align: right;
}
.send {
	margin-top: 40px;
	text-align: center;
	width: 100%;
	height: 25px;
	position: fixed;
	bottom: 0;
	background: #333;
}
#sender {
	width: 95%;
}
#time {
	width: 100%;
	text-align: center;
}
.chat-bubble-send {
	margin-bottom: 2px;
	display: inline-block;
	width: auto;
	height: auto;
	background-color: #3fa4f9;
}
.chat-bubble-receive {
	margin-bottom: 2px;
	display: inline-block;
	width: auto;
	height: auto;
	background-color: #E4E6E9;
}
.bubble-text{
	padding: 1em;
	text-align: left;
	line-height: 1.5em;
}
.bubble-text p{
	-webkit-margin-before: 0em;
	-webkit-margin-after: 0em;
}