body {
	font-family: sans-serif;
}
.top-bar {
	text-align: center;
	margin-top: 3px;
}
.holder {
	width: 100%;
}
.sent {
	width: 100%;
	text-align: right;
}
.send {
	text-align: center;
}
#sender {
	width: 95%;
}