<!DOCTYPE html>
<html>
<head>
	<title>PyChat</title>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='chatroom.css') }}">
</head>
<body>
<h1 class="top-bar">PyChat</h1>
<p class="top-bar">Welcome, {{user.username}}</p>
<p class="top-bar">{{users}} users in this chat.</p>
<hr>
<div class="messages">

	{% for i in messages %}
		{% if i.user == user.username %}
		<div class=holder>
			<div class="sent">
				<p>{{to_string(i.time)}}</p>
				<p>{{i.user}}</p>
				<p>{{i.message}}</p>
			</div>
		</div>
		{% endif %}
		{% if i.user != user.username %}
			<div class="received">
				<p>{{to_string(i.time)}}</p>
				<p>{{i.user}}</p>
				<p>{{i.message}}</p>
			</div>
		{% endif %}
	{% endfor %}

</div>
<div class="send">
	<form action="{{url_for('chatroom', user_id=user.id)}}" method="post">
		<input type="text" name="message_content" id="sender" autofocus="autofocus"><input type="submit" name="Send" value="Send">
	</form>
</div>	
</body>
</html>
