<!DOCTYPE html>
<html>
<head>
	<title>PyChat</title>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='chatroom.css') }}">
	<script type=text/javascript src="{{ url_for('static', filename='jquery-3.2.1.min.js') }}"></script>
</head>
<body>
<div class="top-bar">
	<h1 class="top">PyChat</h1>
	<p class="top">Welcome, {{user.username}}</p>
	<p class="top">{{users}} users in this chat.</p>
</div>
<div id="messages"></div>
<script>setInterval(
	function() {
		$.getJSON("{{url_for('JSON')}}", {}, function(data) {
			var html_code = "";
			var lastUser = "";
			for (i in data.Messages) {
				if (lastUser != data.Messages[i].user) {
					lastUser = data.Messages[i].user;
					var userBlock = "<p>" + data.Messages[i].user + "</p>";
				} else {
					var userBlock = "";
				}
				if (data.Messages[i].user == "{{user.username}}") {
					html_code += "<div class='sent'>" + userBlock + "<div class='chat-bubble-send'>";
				} else {
					html_code += "<div class='received'>" + userBlock + "<div class='chat-bubble-receive'>";
				}
				html_code += "<div class='bubble-text'>" + "<p>" + data.Messages[i].message + "</p>";
				html_code += "</div></div></div>";
			}
			document.getElementById("messages").innerHTML = html_code;
		});
	}, 500);
</script>
<div class="divider"></div>
<div class="send">
	<form action="{{url_for('chatroom', user_id=user.id)}}" method="post">
		<input type="text" name="message_content" id="sender" autofocus="autofocus"><input type="submit" name="Send" value="Send">
	</form>
</div>	
</body>
</html>
