<!DOCTYPE html>
<html>
<head>
	<title>PyChat</title>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='chatroom.css') }}">
</head>
<body>
<div class="top-bar">
	<h1 class="top">PyChat</h1>
	<p class="top">Welcome, {{user.username}}</p>
	<p class="top">{{users}} users in this chat.</p>
</div>
<div class="messages">
	{% for i in messages %}
		{% if i.user == user.username %}
		<div class=holder>
			<div class="sent">
				<p id = "time">{{to_string(i.time)}}</p>
				<p>{{i.user}}</p>
				<p>{{i.message}}</p>
				{% if is_youtube_link(i.message) %}
					<iframe width="560" height="315" src="{{get_vid_embed(i.message)}}" frameborder="0" allowfullscreen></iframe>
				{% endif %}
			</div>
		</div>
		{% endif %}
		{% if i.user != user.username %}
			<div class="received">
				<p id = "time">{{to_string(i.time)}}</p>
				<p>{{i.user}}</p>
				<p>{{i.message}}</p>
				{% if is_youtube_link(i.message) %}
					<iframe width="560" height="315" src="{{get_vid_embed(i.message)}}" frameborder="0" allowfullscreen></iframe>
				{% endif %}
			</div>
		{% endif %}
	{% endfor %}

</div>
<div class="send">
	<form action="{{url_for('chatroom', user_id=user.id)}}" method="post">
		<input type="text" name="message_content" id="sender" autofocus="autofocus"><input type="submit" name="Send" value="Send">
	</form>
</div>	
</body>
</html>
